[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
pycryptodome = "*"
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask_sqlalchemy = "*"
sqlalchemy_utils = "*"

[requires]
python_version = "3"
